@black-color: #000;
@gray-color: #ADADAD;
@brand-color: #EB4141;

#aa_recent_topics {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aa_widget-topic {

  position: relative;
  margin-bottom: 12px;

  & a {
    z-index: 1;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__author .avatar {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 1.5rem;
    border-radius: 50%;
  }

  &__time,
  &__category {
    color: @gray-color;
  }

  &__time {
    font-size: 10px;
    margin-left: 8px;
  }

  &__category {
    font-size: 12px;
    margin-left: auto;
    text-align: right;
  }

  &__time {
    font-size: 10px;
  }

  &__name {
    margin-top: 4px;
    color: @black-color;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: @brand-color;
      transition: width ease-in-out 200ms;
    }

    &:hover {
      &:after {
        width: 30%;
      }
    }
  }
}

.aa_recent_topics {
  color: @black-color;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: auto;
  position: relative;
  float: right;
  font-size: 12px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 1px;
    background-color: @brand-color;
  }
}